.container {
    text-align: center;
    margin-block: 3vmax;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .checkboxLabel {
    text-align: center;
  }