.container {
    text-align: center;
    margin-top: 3vmax;
}
  .editButton {
    color: orange !important;
  }

  .table {
    margin-top: 3vmax;
  }

  .row {
    display: flex;
    width: 100%;
  }
  
.field {
  margin: 0.5rem 0; /* Add some space between fields */
}
  
  /* On larger screens, we use a row with wrapped items */
  @media (min-width: 768px) {
    .row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1vmax; /* Adjust the gap as needed */
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1vmax; /* Adjust the gap as needed */
    }

  }