.container {
    text-align: center;
    margin-top: 1vmax;
}

input[type="file"] {
    display: none;
}

.row-margin {
    margin-block: 1%;
}

.custom-file-upload {
    border: 1px solid #1565c0;
    background-color: transparent;
    color: #1565c0;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%; /* or any desired height */
    cursor: pointer;
}

.description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    height: 100%; /* or any desired height */
}

.code {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    display: inline-block;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word; 
    color: #333;
    border: 1px solid #ddd;
    max-width: 75vw;
}