a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

  .nav-item {
    list-style-type: none;
    font-weight: 600;
  }

  .partners-with{
    font-weight: 300;
    font-size: 6 !important;
    margin-right: "1%";
  }

  .text-green {
    color: green;
  }

  .text-orange {
    color: darkorange;
  }

  .text-purple {
    color: purple;
  }

  .text-red {
    color: darkred;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  