.videoPlayer {
    text-align: center;
    width: 100%;  
    height: 80vh; 
}

.creationDate {
    margin-block: 1vmax;
    color: gray;
}

.title {
    text-align: center;
    margin-top: 1vmax;
}

.progress {
    text-align: center;
    margin-top: 50vm;
}

.subscribeBox {
    width: 100%;  
    height: 80vh; 
    background-size: cover;
    cursor: pointer;
  }